In [1]:
#Import dependencies
import path
import pandas as pd
# import glob

In [2]:
df = pd.read_csv("AllBikesData.csv")
df.head()

,starttime,tripduration,starttime.1,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Hour,Month
0,2018-01-01 02:06:17.541,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,2,1
1,2018-01-01 12:06:18.039,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,12,1
2,2018-01-01 12:06:56.978,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,12,1
3,2018-01-01 14:53:10.186,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,14,1
4,2018-01-01 17:34:30.192,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,17,1

In [3]:
#Update DataFrame with starttime as index
df = df.set_index(pd.DatetimeIndex(df['starttime']))

df['Hour'] = df.index.hour
df['Month'] = df.index.month

df.head()

,starttime,tripduration,starttime.1,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Hour,Month
starttime,,,,,,,,,,,,,,,,,,
2018-01-01 02:06:17.541,2018-01-01 02:06:17.541,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,2,1
2018-01-01 12:06:18.039,2018-01-01 12:06:18.039,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,12,1
2018-01-01 12:06:56.978,2018-01-01 12:06:56.978,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,12,1
2018-01-01 14:53:10.186,2018-01-01 14:53:10.186,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,14,1
2018-01-01 17:34:30.192,2018-01-01 17:34:30.192,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,17,1

In [4]:
#Export frame to CSV
df.to_csv('AllBikesDataUpdated.csv')